#container {margin:0 auto; width:100%;position: absolute;}
#panelcontent { overflow:auto;bottom:0; background:#fff;margin: 0 auto;}
.zw_column { 
	padding-top: 10px;
	padding-left:10px;
	float:left;
	min-height: 1px;
}
.mywidget {
	border: 1px solid #bed5f3;
	height:150px;
	background:#fff;
	position:relative;
	margin-bottom: 10px;
	z-index:1;
}
.floatdiv {
	position:absolute;
	z-index :5;
}
.unfloatdiv {
	position:relative;
	left: auto;
	top: auto;
	z-index:1;
}
.show_replace {
	display :block;
	left: auto;
	top: auto;
}
.unshow_replace {
	position:absolute;
	display :none;
}
.mywidget .p-title {
    color: #FFFFFF;
    cursor: move;
    font-size: 12px;
    font-family: 'Microsoft YaHei';
    margin-bottom:3px;
    height: 25px;
    line-height: 29px;
    padding-left: 15px;
    position: relative;
    background:url("../../images/td_blue22.gif") repeat-x ;
}
.p-title .p-close {
    background: url("../../images/tab-close.gif") no-repeat transparent;
    display:block;
    width:16px;
    height:16px;
    position: absolute;
    right: 5px;
    top: 7px;
    z-index:10;
}

.p-content .p-selected{
	background-color: #FFE7A2;border: solid 1px #FFBD69;
}

.p-title .p-more {
    background: url("../../images/more.gif") no-repeat transparent;
    display:block;
    width:50px;
    height:16px;
    right:1px;
    position: absolute;
    top: 7px;
    z-index:10;
}

.p-title .p-moreconf {
    right: 25px;
}


.p-title .p-close:hover{
	background:url(../../images/tab-close-hover.gif) no-repeat;
}
#tmpdiv {
	margin-bottom: 10px;
	position:relative;
	border: 1px dashed #999;
	z-index:1;
}
.addbuttons {
    border-bottom: 0px solid #aaa;
    color: #666666;
    font-size: 14px;
    line-height:28px;
    overflow: hidden;
    text-align: center;
    width: 99%;
    margin :0 auto;
}
input[type='checkbox'],input[type='radio']{
	background: transparent;
	border: 0px;
}
.widgetlist {
    color: #666666;
    font-size: 13px;
    overflow: hidden;
    text-align: left;
    margin :0 auto;
    line-height: 30px;
}
.widgetlisttable {
   margin :0 auto;
   height:50px;
   text-align: center;
}
.widgetlisttable td {
   width:80px;
   height:52px;
}
.widgetlist span {
    background: no-repeat top center;
    float:left;
}
.imgover{
	width:51px;
	height:46px;
	cursor: pointer;
}
.imgout{
	width:40px;
	height:36px;
	cursor: pointer;
}
/**¼ÆËãÆ÷ÑùÊ½*/
.caculate { margin: 0 auto;background-color:#F0F0FF; }
.caculate #ipts { margin:5px; text-align:right; width:270px;height:28px;font-size:16px;}
.caculate .bt { width:33px; height:28px; color:#333;
background-image:url(../../images/td_blue1.gif);
}
.caculate .bt2 {width:80px; height:28px; color:#00f;font-size:12px;background-image:url(../../images/td_blue1.gif);}
.caculate .bt3 {width:20px; height:20px; text-align:center;margin:5px;}
.caculate table { border-collapse: separate; border-spacing: 5px;}
