/*** css by auther ***/
* {
	margin: 0;
	padding: 0;
}

html,body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	font-size: 12px;
	font-family: "新宋体";
	/* overflow-x: hidden;
	overflow-y: auto; */
}

div,p,ul,ol,dl,dt,dd,li,table,tbody,tr,th,td,span {
	margin: 0;
	padding: 0;
}

ul,ol,dl {
	list-style-type: none;
}

img,section,select,input {
	border: 0;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	cursor: pointer;
}

#wrapper {
	width: 100%;
	height: 100%;
}

#main {
	/** width: 992px; **/
	margin: 0 auto;
	box-shadow: 0 0 5px rgba(5, 5, 5, 0.5);
	box-shadow: 0px 0px 16px rgba(5, 5, 5, 0.4)\9;
}

#left_page {
	width: 744px;
	margin: 2px 0 0 0;
	_margin: 0;
}

#right_page {
	width: 230px;
	float: right;
}

#right_page_my {
	width: 480px;
	float: right;
}

#main_page {
	margin: 0;
	paddin: 5px;
	clear: both;
	_display: inline-block;
	overflow: hidden;
	z-index: 1;
}

.bottom_bk {
	background: url(../images/bottom_bk.png) no-repeat left top;
	width: 100%;
	height: 9px;
	display: block;
}

.search {
	background: url(../images/seclect.png) no-repeat left top;
	width: 275px;
	height: 30px;
	line-height: 27px;
	padding: 0 0 0 10px;
	float: right;
}

.link_input {
	background: url(../images/seclect.png) no-repeat left -42px;
	width: 205px;
	height: 25px;
	line-height: 25px;
	padding: 0 0 0 10px;
	float: left;
}

.left_page_one {
	width: 404px;
}

.left_page_one_my {
	width: 480px;
}

.left_page_two {
	width: 248px;
	float: right;
}

.block_l1,.block_l2 {
	width: 100%;
	height: 300px;
	
	_margin: 0;
}

.block_title1 {
	background: url(../images/center.png) no-repeat left top;
	width: 100%;
	height: 48px;
	display: block;
}

.block_body1 {
	background: url(../images/center_ztbg.png) repeat-y left top;
	width: 100%;
	height: 220px;
	height: 220px\9;
	display: block;
}

.block_bottom1 {
	background: url(../images/center.png) no-repeat left -58px;
	width: 100%;
	height: 18px;
	display: block;
}

.block_title2 {
	background: url(../images/center.png) no-repeat left -87px;
	width: 100%;
	height: 47px;
	display: block;
}

.block_body2 {
	background: url(../images/center_ztbg.png) repeat-y -254px top;
	width: 100%;
	height: 125px;
	height: 124px\9;
	display: block;
}

.block_bottom2 {
	background: url(../images/center.png) no-repeat left -144px;
	width: 100%;
	height: 19px;
	display: block;
}

.block_l3 {
	width: 496px;
	width: 492px\9;
	height: 494px;
}

.block_l3_my {
	width: 480px;
	height: 494px;
}

.block_title3 {
	background: url(../images/center.png) no-repeat left -172px;
	width: 100%;
	height: 45px;
	display: block;
}

.block_body3 {
	background: url(../images/center_ztbg.png) repeat-y -505px top;
	padding:5x;
	height: 424px;
	display: block;
}

.block_bottom3 {
	background: url(../images/center.png) no-repeat left -230px;
	width: 100%;
	height: 19px;
	display: block;
}

.header ul {
	float: right;
	list-style-type: none;
}

.header ul li {
	float: right;
	margin: 3px 10px 0 0;
}

.header ul .top_blue {
	background: #89d0f7;
	width: 10px;
	height: 10px;
}

.header ul .top_red {
	background: #b50029;
	width: 10px;
	height: 10px;
}

.header ul .top_green {
	background: #59fb55;
	width: 10px;
	height: 10px;
}

.header ul .top_gray {
	background: #6b6b6b;
	width: 10px;
	height: 10px;
}

.nav {
	width: 670px;
	line-height: 30px;
	margin: 0 0 0 60px;
}

.nav li {
	float: left;
	color: #fff;
}

.nav li a {
	color: #fff;
	margin: 0 8px;
}

.date {
	line-height: 30px;
	float: right;
	margin: 0 10px 0 0;
}

.nav_gd .top_ss {
	float: right;
}

.nav_bottom {
	margin: 0 0 0 60px;
	clear: both;
}

.nav_bottom p {
	line-height: 30px;
}

.nav_bottom input {
	float: right;
}

.page_title ul {
	margin: 0 0 0 5px;
	float: left;
}

.page_title ul li a {
	padding: 0 20px;
}

ul .tools_title {
	background: url(../images/right_tck.png) no-repeat right top;
	float: right;
	display: block;
	width: 24px;
	height: 23px;
	cursor: pointer;
	position: absolute;
	left: 954px;
}

.infro {
	background: #edf7fe;
	width: 100%;
	margin: 0 0 3px 0;
}

.infro dd,.news dd {
	line-height: 24px;
	/* text-indent: 24px; */
}

#market dd a, #publish dd a, #remind dd a, .infro dd a {
	/* font-weight: bold; */
	font-size: 12px;
	margin-left: -10px;
	padding-left: 35px\9;
}
.more {
	clear: both;
	display: block;
	/* padding-top: 10px; */
	margin-right: 10px;
	margin-top: 10px;
	color: #ffffff;
	/* text-align:right; */
	float: right;
}
#market dd span, #markMore dd span, #publish dd span, #pubMore dd span, .infro dd span {
	font-size: 11px;
	float: right;
}

.news_title {
	background: url(../images/right_ico.png) no-repeat 3px -166px;
	background: url(../images/right_ico.png) no-repeat 3px -166px\9;
	width: 100%;
	height: 27px;
}

.infro_title {
	background: url(../images/right_ico.png) no-repeat 3px top;
	width: 100%;
	height: 27px;
	display:block;
}

.news_tit1 {
	background: url(../images/right_ico.png) no-repeat 3px -339px;
	background: url(../images/right_ico.png) no-repeat 3px -339px\9;
	width: 100%;
	height: 27px;
}

.news_tit2 {
	background: url(../images/right_ico.png) no-repeat left -466px;
	width: 100%;
	height: 25px;
}

.news_tit3 {
	background: url(../images/right_ico.png) no-repeat left -464px;
	width: 100%;
	height: 25px;
}

.rm_num_one {
	background: url(../images/right_ico.png) no-repeat 3px -32px;
	background: url(../images/right_ico.png) no-repeat 3px -28px\9;
}

.rm_num_two {
	background: url(../images/right_ico.png) no-repeat 3px -52px;
	background: url(../images/right_ico.png) no-repeat 3px -47px\9;
}

.rm_num_three {
	background: url(../images/right_ico.png) no-repeat 3px -72px;
	background: url(../images/right_ico.png) no-repeat 3px -67px\9;
}

.rm_num_four {
	background: url(../images/right_ico.png) no-repeat 3px -92px;
	background: url(../images/right_ico.png) no-repeat 3px -87px\9;
}

.rm_num_five {
	background: url(../images/right_ico.png) no-repeat 3px -112px;
	background: url(../images/right_ico.png) no-repeat 3px -107px\9;
}

.num_one {
	background: url(../images/right_ico.png) no-repeat 3px -369px;
	background: url(../images/right_ico.png) no-repeat 3px -364px\9;
}

.num_two {
	background: url(../images/right_ico.png) no-repeat 3px -389px;
	background: url(../images/right_ico.png) no-repeat 3px -386px\9;
}

.num_three {
	background: url(../images/right_ico.png) no-repeat 3px -409px;
	background: url(../images/right_ico.png) no-repeat 3px -404px\9;
}

.num_four {
	background: url(../images/right_ico.png) no-repeat 3px -429px;
	background: url(../images/right_ico.png) no-repeat 3px -424px\9;
}

.num_five {
	background: url(../images/right_ico.png) no-repeat 3px -449px;
	background: url(../images/right_ico.png) no-repeat 3px -444px\9;
}

.num_six {
	background: url(../images/right_ico.png) no-repeat 3px -469px;
	background: url(../images/right_ico.png) no-repeat 3px -464px\9;
}

.num_seven {
	background: url(../images/right_ico.png) no-repeat 3px -489px;
	background: url(../images/right_ico.png) no-repeat 3px -484px\9;
}

.num_eight {
	background: url(../images/right_ico.png) no-repeat 3px -509px;
	background: url(../images/right_ico.png) no-repeat 3px -504px\9;
}

.num_nine {
	background: url(../images/right_ico.png) no-repeat 3px -529px;
	background: url(../images/right_ico.png) no-repeat 3px -524px\9;
}

.num_ten {
	background: url(../images/right_ico.png) no-repeat 3px -549px;
	background: url(../images/right_ico.png) no-repeat 3px -544px\9;
}

.rm2_num_one {
	background: url(../images/right_ico.png) no-repeat 3px -27px;
}

.rm2_num_two {
	background: url(../images/right_ico.png) no-repeat 3px -47px;
}

.rm2_num_three {
	background: url(../images/right_ico.png) no-repeat 3px -67px;
}

.rm2_num_four {
	background: url(../images/right_ico.png) no-repeat 3px -87px;
}

.num2_one {
	background: url(../images/right_ico.png) no-repeat 3px -178px;
}

.num2_two {
	background: url(../images/right_ico.png) no-repeat 3px -198px;
}

.num2_three {
	background: url(../images/right_ico.png) no-repeat 3px -218px;
}

.num2_four {
	background: url(../images/right_ico.png) no-repeat 3px -238px;
}

.num2_five {
	background: url(../images/right_ico.png) no-repeat 3px -258px;
}

.infro_bot {
	background: url("../images/right_ico.png") no-repeat scroll left -113px transparent;
    height: 32px;
    width: 100%;
}

.news_bot {
	background: url(../images/right_ico.png) no-repeat left -90px;
	width: 100%;
	height: 25px;
}

.news {
	background: #faf2ec;
	width: 100%;
	margin: 0 0 10px 0;
}

.faster {
	width: 136px;
}

.faster_bg {
	background: url(../images/faster_bg.png) repeat-y left top;
	width: 100%;
	overflow: hidden;
	_display: inline-block;
}

.faster_bg ul li {
	width: 56px;
	height: 75px;
	margin: 4px 0 0 8px;
	_margin: 4px 0 0 5px;
	float: left;
}

.faster_bottom {
	background: url(../images/faster_bgbt.png) no-repeat left top;
	width: 100%;
	height: 12px;
	overflow: hidden;
	_display: inline-block;
}

.nav>li>span {
	margin: 0 8px;
	cursor: pointer;
}

/**
 normal.css
 **/
.content {
	margin: 0 2% 0 2%;
	width: 96%;
}

.nbutton {
	width: 70px;
	height: 22px;
	border-width: 1px;
	border-right: 1px solid #5F69FF;
	background: url('./../images/btn_bg.png') repeat-x;
	border-radius: 4px 4px 4px 4px;
	box-shadow: 0 0 5px rgba(51, 151, 236, 0.6);
	margin: 0 3px 0 2px;
	text-align: center;
}

.nbutton:active {
	border: 1px solid #99f;
	background: url('./../images/bb.png') repeat-x;
}

.params>tbody>tr>td {
	padding: 1px 1px 1px 10px;
	line-height: 28px;	
}/**background-color: #e2f5ff;**/

.params input,.params select {
	width: 200px;
	border-radius: 2px 2px 2px 2px;
}

.params input {
	padding-left: 1px;
	width: 200px;
	height: 22px;
	line-height:22px;
}
.params input[type="button"] {width:80px;}
.params select {
	height: 24px;
	line-height:24px;
	width: 202px;
	padding:2px 0;
}
.params select option {
	line-height:24px;
}
fieldset .params {	
	width: 100%;
}

fieldset {
	margin:10px 0;
	padding: 5px;
	border-radius: 4px 4px 4px 4px;
	box-shadow: 0px 2px 6px rgba(5, 5, 5, 0.3);
	background:url(../images/blank_bg.gif) repeat;
}

body.ie6 fieldset,body.ie7 fieldset,body.ie8 fieldset{
	zoom:1;
	flter:  progid:DXImageTransform.Microsoft.Shadow(Color='#cccccc',Strength=5,Direction=0);
}

.glass_bg , fieldset {
	padding: 5px;
	border-radius: 4px;
	box-shadow: 0 2px 6px rgba(5, 5, 5, 0.3);
	box-shadow: 0px 0px 10px rgba(5, 5, 5, 0.3)\9;
}

fieldset legend {
	height: 16px;
	padding-left: 20px;
	background: url('./../images/search.png') no-repeat;
}

.detailBox legend {
	height: 16px;
	padding-left: 20px;
	background: url('./../images/detail.gif') no-repeat;
}

.outbox legend {
	height: 25px;
	padding-left: 20px;
	background: url('./../images/detail.gif') no-repeat;
}

.params .unit_btn {
	border: 0px;
	width: 22px;
	height: 22px;
	background: url('./../images/zuzhi.png') no-repeat;
}

.unit_select {
	width: 149px;
	height: 22px;
	border: 1px solid #b3deff;
	vertical-align: bottom;
	background: #fff url('./../images/zuzhi.png') no-repeat right top;
}

.unit_select input {
	border: none;
	width: 123px;
}

.user_select {
	background: #fff url('./../images/man.gif') no-repeat right center;
}

.wage_item_select {
	background: #fff url('./../images/wage-item.gif') no-repeat right center;
}

.btn_select {
	background: #fff url('./../images/bar-button.gif') no-repeat right center;
}

/**日期输入框样式*/
.l-text {
	border: none;
	width: 203px;
}

.n-trigger,.n-trigger-hover {
	border: none;
	cursor: pointer;
	position: absolute;
	top: 1px;
	right: 1px;
	width: 16px;
	height: 16px;
	overflow: hidden;
	background: #fff url(./../images/datePicker.gif) no-repeat right top;
}

.n-trigger-icon {
	background: #fff url(./../images/datePicker.gif) no-repeat right top;
	width: 100%;
	height: 100%;
}

/**普通表单样式一**/
.s1-params,.s1-button {
	width: 100%;
}

.s1-params>tbody>tr>td:first-child {
	width: 120px;
	text-align: right;
	line-height: 28px;
	padding: 5px 10px 5px 5px;
	vertical-align: center;
}

.s1-params input,.s1-params select {
	width: 200px;
	height: 20px;
	border: 1px solid #b3bcFF;
	border-radius: 2px 2px 2px 2px;
	vertical-align: middle;
}
.s1-params input[type="button"] {width:80px;}
.s1-params input[readonly=readonly],.s1-params select[readonly=readonly] {
	background-color: #eee;
}

.s1-button {
	margin: 20px 0 10px 0;
}

.s1-button td:first-child {
	text-align: right;
	padding-right: 20px;
}

.s1-button td {
	text-align: left;
	padding-right: 20px;
}

.s1-params .unit_btn {
	border: 0px;
	width: 22px;
	height: 22px;
	background: url('./../images/zuzhi.png') no-repeat;
}

.dialog-image {
	width: 48px;
	height: 48px;
	overflow: hidden;
	position: absolute;
	top: 50px;
	left: 20px;
	background: url('./../images/dialog-icons.png') no-repeat;
}

.dialog-image-done {
	background-position: 0px 0px;
}

.dialog-image-error {
	background-position: 0px -48px;
}

.dialog-image-question {
	background-position: 0px -144px;
}

.dialog-image-warn {
	background-position: 0px -96px;
}

.dialog-content {
	padding: 10px 10px 0 70px;
	overflow-y: auto;
}

.l-toolbar-item {
	float: left;
	background: url(../jwebui/skins/sys/images/panel/panel-btn.gif);
}

/*** .l-panel-btn .l-panel-btn-l,.l-panel-btn .l-panel-btn-r {
	display: block;
}***/

.l-tab-links-item-left, .l-tab-links-item-right {background:none;}
.l-panel-btn-l,.l-panel-btn-r {background:none;}
.l-panel-btn-over {
	background: url(../jwebui/skins/sys/images/controls/button-bg-over.gif);
	color: #fff;
}
.l-toolbar-item {margin:0;border-left:1px solid #c2c2c2;border-right:1px solid #f6f6f6;}
.l-panel-btn-over .l-panel-btn-l {
	background: url(../jwebui/skins/sys/images/controls/btn-l.png);
}

.l-panel-btn-over .l-panel-btn-r {
	background: url(../jwebui/skins/sys/images/controls/btn-r.png);
}

.l-bar-textc {
	float: left;
	padding: 1px 2px;
	_margin: 3px 0;
}

input[type=text] {
	border: 1px solid #b3deff;
}

#toptoolbar {
	width: 100%;
	border-radius: 5px 5px 0 0;
}

#toptoolbar .l-icon {
	left: 2px;
	position: absolute;
	top: 2px;
}

#toptoolbar .l-toolbar-item-hasicon {
	_margin-left: 4px;
	padding-left: 20px;
}

#toptoolbar .l-toolbar-item-disable {
	display: none
}

.params input.l-button {
	
}

.no-shadow {
	FILTER: none;
}

.l-tree {
	background-color: transparent;
}

.l-button {
	width: 80px;
	border-radius: 3px;
}

.l-button:hover {
	background: url(../images/button.png) repeat scroll 0px -26px transparent;
	box-shadow: none;
	color: #fff;
}

#loading_div {
	width: 100%;
	height: 100%;
	display: none;
	z-index: 999999;
	background: url('../images/loading.gif') center center no-repeat #ffffff;
	opacity: 0.4;
	filter: alpha(opacity : 20);
	position: absolute;
	left: 0;
	top: 0
}

.button_div {
	padding: 10px;
	margin:10px 0;
}
.l-tab-links {
	width:100%;
	overflow:hidden;
}
.l-tab-links ul li {
	border-radius: 5px 5px 0 0;
}

/** 漂浮窗 **/
.window_fd {
	width: 250px;
	border: 1px solid #fb6c02;
	overflow: hidden;
	background: url(../images/window_bg.png) no-repeat
}

.window_fd p {
	background-color: #fb6c02;
	line-height: 26px;
	font-size: 14px;
	font-weight: bold;
	text-indent: 10px;
	color: #fff;
}

.window_fd p img {
	float: right;
	border: 0;
	cursor: pointer;
}

.window_fd dl {
	list-style-type: none;
	width: 100%;
}

/* .window_fd dl dt,.window_fd dl dd {
	width: 149px;
	float: left;
	line-height: 26px;
} */

.window_fd dl dt {
	background: url(../images/window_fd.gif) repeat-x left top;
	color: #fff;
	font-weight: bold;
	text-align: center;
}

.window_fd dl dd {
	text-indent: 5px;
}

.fd_tit1 {
	width: 170px;
	float: left;
	line-height: 26px;
	border-right: 1px solid #bf6906;
}

.fd_tit2 {
	width: 78px;
	float: left;
	line-height: 26px;
	border-left: 1px solid #fa9708;
}

.dd_title {
	float: left;
	/* line-height: 26px; */
}

.dd_content {
	float: right;
	/* line-height: 26px; */
}

.window_fd a {
	clear: both;
	color: #fb6c02;
	float: left;
}

.my_win_dd {
	clear: both;
	display: block;
	color: #fb6c02;
	padding: 10px;
}

.l-menu-item-text {position:relative;padding:0 8px;left:0;}
.l-menu-item-text:hover {color:#ffff88;}

table, .detailBox table {border-collapse:separate;}

.l-accordion-content {background:none;}
.l-accordion-panel {border:0;}

.fileImport {background:#fff url('./../images/fileimport.gif') no-repeat right center;}
.queryWin {background:#fff url('./../images/query_win.gif') no-repeat right center;}
.queryRole {background:#fff url('./../images/role.gif') no-repeat right center;}
.queryStaff {background:#fff url('./../images/staff.gif') no-repeat right center;}
.queryCust {background:#fff url('./../images/memeber.gif') no-repeat right center;}

.step span {margin:5px 5px;vertical-align:middle;}
.step_on {background:#fdc878;border:1px solid #f4941c;padding:2px 5px;display:inline-block;zoom:1;font-size: 12px;border-radius:4px;box-shadow: 0 0 4px rgba(51, 151, 236, 0.6);}
.step_off {background:#e7e6e6;border:1px solid #b5b3b3;padding:2px 5px;display:inline-block;zoom:1;font-size: 12px;border-radius:4px;box-shadow: 0 0 4px rgba(51, 151, 236, 0.6); cursor: pointer;}
.step_off:hover {background:#fdc878;}

.page_title a {
	color: #fff;	
	font-size: 14px;
	font-weight: bold;
}

input[disabled="disabled"],select[disabled="disabled"],textarea[disabled="disabled"]{
	color:#555555;
	background-color:#F2f5f0;
}

input[disabled=""],select[disabled=""],textarea[disabled=""]{
	color:#555555;
	background-color:#F2f5f0;
}

input[disabled="true"],select[disabled="true"],textarea[disabled="true"]{
	color:#555555;
	background-color:#F2f5f0;
}

input:FOCUS,select:FOCUS,textarea:FOCUS{
	background-color:#FFFFBB;
}

/** 右下角弹出窗口(开始) **/
#tipp { 
	position: absolute; 
	right: 0px; 
	bottom: 0px; 
	height: 0px; 
	width: 180px; 
	border: 1px solid #CCCCCC; 
	background-color: #eeeeee; 
	padding: 1px; 
	overflow: hidden; 
	display: none; 
	font-size: 12px; 
	z-index: 300;
}

#tipp p { 
	padding: 6px; 
}

#tipp h1, #detail h1 { 
	font-size: 14px; 
	height: 25px; 
	line-height: 25px; 
	background-color: #0066CC; 
	color: #FFFFFF; 
	padding: 0px 3px 0px 3px; 
	filter: Alpha(Opacity=100); 
}

#tipp h1 a, #detail h1 a { 
	float: right; 
	text-decoration: none; 
	color: #FFFFFF; 
} 

/** 右下角弹出窗口(结束) **/
