@charset "UTF-8";
.st_content {
	position: relative;
	margin: 0 auto;
}
.st_node {
	position: absolute;
	background: url( images/minus.gif) no-repeat bottom center;
	cursor: hand;
}

.st_nodeclose {
	position: absolute;
	background: url( images/plus.gif) no-repeat bottom center;
	cursor: hand;
}

.st_leaf {
	background:none;
}

.st_line {
	border-top: 2px solid #999;
	border-right: 2px solid #999;
	position: absolute;
}

.st_linefirst {
	border-left: 2px solid #999;
	position: absolute;
}

.st_linecross {
	border-left: 2px solid #999999;
	position: absolute;
}
.st_node_legend {
	margin-left:10px;
	top:0px;
	display: inline-block;
}

.st_line_legend {
	margin-left:10px;
	top:0px;
	height:5px;
	width:20px;
	display: inline;
}

.st_legend {
	border_bottom: 1px solid #aaaaaa;
	display:block;
	height:20px;
	position: absolute;
    top: 0;
    left:0;
}

.st_menu {
    background-color: #aaaaaa;
    box-shadow:1px 1px 6px rgba(0,0,0,0.5);
    border-radius:5px;
    padding: 0px;
    position: absolute;
    text-align: center;
    border：1px solid #ffffff;
}

.st_menu ul li {
    background-color: #EEEEEE;
    cursor: pointer;
    list-style: none outside none;
    min-width: 100px;
    padding: 4px 6px;
    border：1px solid #ffffff;
    border-top-color: #000;
}
.disabled {
    color:#bbbbbb;
    cursor:default;
}
.st_menu ul li:hover {
    background-color: #aaaaaa;
}
#st_tip_div {
	/*overflow:hidden;*/
	position:absolute;
	padding:5px;
	z-index:100;
	width:100px;
	display:none;
	border: 1px solid #fff;
	background: #eeeeee none no-repeat top right;
	box-shadow:1px 1px 6px rgba(0,0,0,0.5);
	border-radius:5px;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.st_nodecontent {
    background-color: #ff0000;
}
