.l-icon{ width:16px; height:16px; overflow:hidden;}
.l-icon-query{ background:url('icons/query.png') no-repeat center;}
.l-icon-reset{ background:url('icons/reset.png') no-repeat center;}
.l-icon-clear{ background:url('icons/clear.png') no-repeat center;}
.l-icon-look{ background:url('icons/look.png') no-repeat center;}
.l-icon-insert{ background:url('icons/insert.png') no-repeat center;}
.l-icon-update{ background:url('icons/update.png') no-repeat center;}
.l-icon-delete{ background:url('icons/delete.png') no-repeat center;}
.l-icon-save{ background:url('icons/save.png') no-repeat center;}
.l-icon-submit{ background:url('icons/submit.png') no-repeat center;}
.l-icon-startUsing{ background:url('icons/startUsing.png') no-repeat center;}
.l-icon-forbidden{ background:url('icons/forbidden.png') no-repeat center;}
.l-icon-examineAndVerify{ background:url('icons/examineAndVerify.png') no-repeat center;}
.l-icon-recheck{ background:url('icons/recheck.png') no-repeat center;}
.l-icon-select{ background:url('icons/select.png') no-repeat center;}
.l-icon-add{ background:url('icons/add.png') no-repeat center;}
.l-icon-remove{ background:url('icons/remove.png') no-repeat center;}
.l-icon-close{ background:url('icons/close.png') no-repeat center;}
.l-icon-confirm{ background:url('icons/confirm.png') no-repeat center;}
.l-icon-cancel{ background:url('icons/cancel.png') no-repeat center;}
.l-icon-copy{ background:url('icons/copy.png') no-repeat center;}
.l-icon-print{ background:url('icons/print.png') no-repeat center;}
.l-icon-down{ background:url('icons/down.png') no-repeat center;}
.l-icon-lock{ background:url('icons/lock.png') no-repeat center;}
.l-icon-deblocking{ background:url('icons/deblocking.png') no-repeat center;}
.l-icon-return{ background:url('icons/return.png') no-repeat center;}
.l-icon-goIntoEffect{ background:url('icons/goIntoEffect.png') no-repeat center;}
.l-icon-treaty{ background:url('icons/treaty.png') no-repeat center;}
.l-icon-logOff{ background:url('icons/logOff.png') no-repeat center;}
.l-icon-restore{ background:url('icons/restore.png') no-repeat center;}
.l-icon-synchronization{ background:url('icons/synchronization.png') no-repeat center;}
.l-icon-againSent{ background:url('icons/againSent.png') no-repeat center;}
.l-icon-refresh{ background:url('icons/refresh.png') no-repeat center;}
.l-icon-toLead{ background:url('icons/toLead.png') no-repeat center;}
.l-icon-export{ background:url('icons/export.png') no-repeat center;}
.l-icon-deleteAll{ background:url('icons/deleteAll.png') no-repeat center;}
.l-icon-checking{ background:url('icons/checking.png') no-repeat center;}
.l-icon-updatePass{ background:url('icons/updatePass.png') no-repeat center;}
.l-icon-keepAccount{ background:url('icons/keepAccount.png') no-repeat center;}
.l-icon-agree{ background:url('icons/agree.png') no-repeat center;}
.l-icon-turnDwon{ background:url('icons/turnDwon.png') no-repeat center;}
.l-icon-lookHis{ background:url('icons/lookHis.png') no-repeat center;}
.l-icon-set{ background:url('icons/set.png') no-repeat center;}
.l-icon-detection{ background:url('icons/detection.png') no-repeat center;}
.l-icon-customRemind{ background:url('icons/customRemind.png') no-repeat center;}
.l-icon-againInsert{ background:url('icons/againInsert.png') no-repeat center;}
.l-icon-stop{ background:url('icons/stop.png') no-repeat center;}
.l-icon-createReport{ background:url('icons/createReport.png') no-repeat center;}
.l-icon-createBook{ background:url('icons/createBook.png') no-repeat center;}
.l-icon-affirmCZ{ background:url('icons/affirmCZ.png') no-repeat center;}
.l-icon-upload{ background:url('icons/upload.png') no-repeat center;}
.l-icon-bluebook{ background:url('icons/bluebook.gif') no-repeat center;}
.l-icon-comment{ background:url('icons/comment.gif') no-repeat center;}
.l-icon-config{ background:url('icons/config.gif') no-repeat center;}
.l-icon-customers{ background:url('icons/customers.gif') no-repeat center;}
.l-icon-cut{ background:url('icons/cut.gif') no-repeat center;}
.l-icon-dept{ background:url('icons/dept.gif') no-repeat center;}
.l-icon-detail{ background:url('icons/detail.gif') no-repeat center;}
.l-icon-discuss{ background:url('icons/discuss.gif') no-repeat center;}
.l-icon-edit{ background:url('icons/edit.gif') no-repeat center;}
.l-icon-graywarn{ background:url('icons/graywarn.gif') no-repeat center;}
.l-icon-group{ background:url('icons/group.gif') no-repeat center;}
.l-icon-help{ background:url('icons/help.gif') no-repeat center;}
.l-icon-home{ background:url('icons/home.gif') no-repeat center;}
.l-icon-menu{ background:url('icons/menu.gif') no-repeat center;}
.l-icon-menuitem{ background:url('icons/menuitem.gif') no-repeat center;}
.l-icon-myaccount{ background:url('icons/myaccount.gif') no-repeat center;}
.l-icon-next{ background:url('icons/next.gif') no-repeat center;}
.l-icon-organ{ background:url('icons/organ.gif') no-repeat center;}
.l-icon-outbox{ background:url('icons/outbox.gif') no-repeat center;}
.l-icon-prev{ background:url('icons/prev.gif') no-repeat center;}
.l-icon-qq{ background:url('icons/qq.gif') no-repeat center;}
.l-icon-role{ background:url('icons/role.gif') no-repeat center;}
.l-icon-setting{ background:url('icons/setting.gif') no-repeat center;}
.l-icon-share{ background:url('icons/share.gif') no-repeat center;}
.l-icon-staff{ background:url('icons/staff.gif') no-repeat center;}
.l-icon-team{ background:url('icons/team.gif') no-repeat center;}
.l-icon-URL{ background:url('icons/URL.gif') no-repeat center;}

